#e1{
height: 300px;
width: 300px;
background-color: rgb(255, 145, 0);
position: relative;
border-radius: 10px;
}
#e2{

width: 150px;
height: 150px;
background-color: rgb(165, 42, 136);
bottom: 0px;
right:0px;
position:absolute;
border-radius: 10px;
}

#e3{
height: 50px;
width: 50px;
background-color: blue;
right: 0px;
bottom: 0px;
position:absolute;
border-radius: 10px;
}
#e4
{
    height: 50px;
    width: 50px;
    background-color:red;
    left: 0px;
    top: 0px;
    position:absolute;
    border-radius: 10px;
   
    }
#e5{

    height:150px;
    width: 150px;
    background-color:rgb(0, 162, 255);
    left: 0px;
    top: 0px;
    position:absolute;
    border-radius: 10px;

}

#e6{
    height: 50px;
    width: 50px;
    background-color:red;
    left: 0px;
    top: 0px;
    position:absolute;
    border-radius: 10px;
}

#e7{
    height: 50px;
    width: 50px;
    background-color:rgb(0, 255, 76);
    right: 0px;
    bottom: 0px;
    position:absolute;
    border-radius: 10px;
}


#e8{
    height: 50px;
    width: 50px;
    background-color:darkgreen;
    right: 0px;
    top: 0px;
    position:absolute;
    border-radius: 10px;
}

#e9{
    height: 50px;
    width: 50px;
    background-color:darkslategrey;
    left: 0px;
    bottom: 0px;
    position:absolute;
    border-radius: 10px;
}
#e10{
    height: 50px;
    width: 250px;
    background-color:darkslategrey;
    right: 0px;
    bottom: 100px;
    position:fixed;
   border-radius: 10px;
   text-align: bottom;
   color: rgb(17, 219, 105);
    cursor: pointer;
}
#e10{
    padding: 50px;
    margin: 50px;
    
}

#st{
width: 200px;
height: 100px;
background-color: aquamarine;
position: sticky;
top:200px;
left:100%;
}
#e11:hover{
background-color: brown;
cursor: pointer;
}
#e11:active{
background-color: blue;
color: white;
}

#e12{
height:50vh ;
width: 50vw;
background-color: palevioletred;
background-image:url("https://plus.unsplash.com/premium_photo-1692340973390-ed4a319f129d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=413&q=80");
background-position: top;
padding: 30px;
margin: 20px;

}
#e13{

font-family: Arial, Helvetica, sans-serif;
text-decoration: ;
text-shadow: 4px -4px 10px red;
color: whitesmoke;
}

